/* DeleteBookForm.module.css */

.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .form button {
    width: 100%;
  }
  